.container {background-color: aqua;}
#cover{
    width: 9%;
}
.icon-favorite {
    vertical-align: middle;
    color:brown
}
body {
    font-family: 'Merriweather';
    margin: 0;
}
h1{
    margin-top: 0;
    position:relative;
    padding: 16px;
}
#top {
   background-color: aquamarine;
   padding: 16px;
}
#top h1 {
    margin-bottom: 10px;
    padding: 16px ;
}
#main {
    padding: 3px 320px 2 20px ;
    line-height: 25px; }
.cover{
    position:relative;
}
.cover{
    position: absolute;
    top: 50px ;
    left: 880px;
    max-width: 260px;
}
#logo img[src="https://cdn-icons-png.flaticon.com/512/733/733609.png"]{
    width: 49px;
    right: 30px;
    bottom: 10px;
    height: 49px;
    position:fixed
}
.navi li  {
    display:inline ;
    padding: 10px ;
}
.navi {
    margin-top: 0;
    padding-top: 16px;
}
.name-ten{
    background-color: antiquewhite;
    width: 280px;
    height: 60px;
    position:sticky;
    text-align: center;
    bottom:370px;
    font-size: x-large;
}
.container {
    margin:  0 20% ;
}
.navi ul {
    margin-top: 42px ;

}
.navi ul li {
    list-style-type: none ;
    display:inline;
    margin-left: 50px ;
}
.navi ul li a::backdrop{
    color: rgb(85, 94, 226);
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 40px ;
    padding-bottom: 40px;
    padding-left: 20px ;
    padding-right: 20px ;
} 


